<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>文档驱动，前端表单演示</title>
    <script type="text/javascript" src="../../Script/vue.js"></script>
    <script type="text/javascript" src="../../Script/Vue/formHelpConfig.js"></script>
    <script type="text/javascript" src="../../Script/Vue/formCompontent.js"></script>
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="jsonformat.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="../../Style/mangoGlobal.css">
    <link type="text/css" rel="stylesheet" media="screen" href="../../Style/mis-style-p.css">
    <link type="text/css" rel="stylesheet" media="screen" href="../../Style/MisStyle_v2.css">
    <link type="text/css" rel="stylesheet" media="screen" href="../../Style/css2.css">

    <meta charset="utf-8" />

    <script  type="text/javascript">

    </script>
    <style >
        .div1{
            clear: both;
            width: 98%;
            height: 1210px;
            border: 1px solid #333;
        }
        .div2{
            clear: both;
            width:  97%;
            height: 300px;
            border: 1px solid rgb(167, 142, 142);
        }
        .div3{
            float: left; 
            width:  32%;
            height: 300px;
            border: 1px solid rgb(167, 142, 142);
        }
         .dataJson{
            width: 200px;
        }
    </style>
</head>

<body >
    <div id="doc" class="div1">
        <div class="div2">
            <!--数据库文档的Excel表格-->
            <table rules="all" class="table_default1">
                <tr>
                    <th>字段名称</th>
                    <th>中文名称</th>
                    <th>字段类型</th>
                    <th>字段大小</th>
                    <th>默认值</th>
                    <th>允许空</th>
                    <th>说明</th>
                    <th>控件类型</th>
                    
                </tr>
                <tr v-for="tr in dataExcel.info">
                    <td v-for="td in dataExcel.orderby">
                        <my-input :meta="dataExcel.ctlMeta[td]" v-model="tr[td]" :value="tr[td]" @input></my-input>
                    </td>
                </tr>
            </table>
        </div>
    
        <div class="div2">
            <div class="div3">
                <!--数据库文档的json形式-->
                <h5>数据库文档的json格式</h5>
                <textarea readonly v-model="docJsonFormat" rows="14" cols="50"> </textarea>
                
            </div>
            <div class="div3" style="width: 200px;">
                <br><br><br><br><br><br><br>
                <h3>通过引擎转换 -></h3>
            </div>
            <div class="div3">
                <!--表单组件的json形式-->
                <h5>表单组件的json</h5>
                <textarea readonly v-model="ctlJsonFormat" rows="14" cols="50"> </textarea>
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; |<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/
            </div>
        </div>
        <div class="div2">
            <div class="div3">
                <!--提交数据-->
                <h5>提交的数据</h5>
                <textarea readonly v-model="valueJsonFormat" rows="14" cols="60"> </textarea>
                
            </div>
            <div class="div3" style="width: 200px;">
                    <br><br><br><br><br><br><br>
                    <h3> <- 提交绑定数据 </h3>
                </div>
            <div class="div3">
                    <!--表单形式-->
                    <h4>通过Vue表单组件生成表单 </h4>
                    <table rules="all" class="tablem tableClass02">
                            <tbody>
                                <tr v-for="item in formControl.ctlMeta">
                                    <td>{{item.colName}}：</td>
                                    <td><my-input v-model="formControl.value[item.name]" :meta="item"></my-input></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
       
        <div class="div2">
            <!--后端模拟-->
            <h5>通过引擎，生成参数化sql</h5>

        </div>
            
    </div>

<div id="help" class="div1" style="clear: both;">
    <div >
        <div id="divText" style="width: 470px;height: 700px; padding: 10px; border: 1px solid #333;display: block;">
            <span id="FrmCommonForm">
                <table rules="all" class="tablem tableClass02">
                    <tbody>
                        <tr v-for="item in ctlMeta[formValue.controlType].showIds " 
                            :id="'tr'+formControl[item].controlId" 
                            :key="'tr'+formControl[item].controlId" 
                            style="display: table-row;">
                                <td align="right">{{formControl[item].colName}}：</td>
                                <td align="left">
                                    <my-input v-if="item != 'list'" v-model="formValue[formControl[item].controlId]" :meta="formControl[item]" ></my-input>
                                    <span v-else-if="item == 'list'">
                                        <!--设置备选项-->
                                        备选项数量：<my-input @change="setListItem"  v-model="listItem.number" value="1" :meta="formControl.listNumber"> </my-input>
                                                    
                                        <div v-for="item in listItem.item">
                                            <my-input v-model="item.id"  :meta="formControl.listId"></my-input>
                                            <my-input v-model="item.name"  :meta="formControl.listName"> </my-input>
                                        </div>
                                    </span>
                                    {{item}}
                                </td>
                        </tr>
                    </tbody>
                </table>
            </span>
          
       </div>
    </div>

    <!--
    <div style="float: left;text-align:left;width: 330px;height: 500px;padding: 5px;border: 1px solid #333;">
        代码：<br>
        {{formValue.controlType}}<br> 
        <textarea id="txtMeta" v-model="createJsonCode" name="S1" cols="40" rows="30"></textarea>
    </div>
    -->
</div>

    <script type="text/javascript">
        var doc = new Vue({
            el:"#doc",
            data:{
                dataExcel:{
                    orderby:["enName","cnName","type","size","defultValue","isNull","command","ctlType"],
                    info:[
                        {
                            enName:"name",
                            cnName:"姓名",
                            type:"nvarchar",
                            size:50,
                            defultValue:"",
                            isNull:false,
                            command:"员工姓名",
                            ctlType:101
                        }
                    ],
                    ctlMeta:{
                        enName:{},
                        cnName:{},
                        type:{},
                        size:{},
                        defultValue:{},
                        isNull:{},
                        command:{},
                        ctlType:{}
                    }
                },
                formControl:{
                    orderby:[],
                    ctlMeta:{
                        name:{
                            controlId:101,
                            controlType:116,
                            colName:"字段名称",
                            tabIndex:1,
                            class:"cssTxt input_t1",
                            title:"字段的名称",
                            name:"enName",
                            value:"",
                            placeholder:"请输入字段名称",
                            size:10,
                            maxlength:10
                        }
                    },
                    value:{}
                }

            },
            created: function () {
                docExcelControlMeta.ctlType.list = controlMeta // 控件类型的选项
                this.dataExcel.ctlMeta = docExcelControlMeta;  //控件描述
                this.dataExcel.info = dataDocInfo;//数据库文档
                

            },
            computed:{
                docJsonFormat:function(){
                    return format(JSON.stringify(this.dataExcel.info));
                },
                valueJsonFormat:function(){
                    return format(JSON.stringify(this.formControl.value));
                },
                ctlJsonFormat:function(){
                    //表单控件的json
                    var formJson = {};
                    //表单值的json
                    var formValue = {};

                    var docJson = this.dataExcel.info;
                
                    //变量socJson
                    for(var key in docJson){
                        //文档里一个字段的描述
                        var doc = docJson[key];

                        //获取现有的表单元素的json
                        var ctl ={};// formControl.ctlMeta[doc.enName];
                        if (typeof(ctl) === "undefined") {
                            ctl = {};
                        }

                        //修改表单元素的json
                        ctl.controlType = doc.ctlType;
                        ctl.colName = doc.cnName;
                        ctl.class = "cssTxt input_t1";
                        ctl.title = doc.cnName;
                        ctl.name = doc.enName;
                        ctl.placeholder = doc.cnName;
                        ctl.size = doc.size;
                        ctl.maxlength = doc.size;
                        ctl.value = doc.defultValue;
                        
                        formJson[doc.enName] = ctl;
                        formValue[doc.enName] = ctl.value;

                    }
                    this.formControl.ctlMeta = formJson;
                    this.formControl.value = formValue;

                    return format(JSON.stringify(this.formControl.ctlMeta));
                } 
            },
            methods:{
               
            }

        });

        var form = new Vue({
            el: '#help',
            data: {
                json:'',
                ctlTypeState:{
                    //tab切换
                    textShow:true,
                },
                
                ctlMeta:{}, //控件需要的json
                ctlTypeText:[100, 101, 102, 103, 104, 105, 106, 107,
                    108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118] ,
                ctlTypeList:[150,151,152,153,154,155]  ,
                
                formControl: { },
                viewValue:'',
                //绑定的值
                formValue: { },
                //备选项的值
                listItem:{
                    number:1,
                    item:[{id:1,name:''}]
                }
            },
            created: function () {
                this.formControl = formControl;  //控件描述
                this.formValue = formModel;  //设置取值的实体类
                this.ctlMeta = controlMeta;  //控件字典
            },
            computed:{
               
                //依据控件类型创建备选项的绑定值
                creatList:function(value){
                    var re = "";
                    var arr = [];

                    re = '[{"id":'+value+',"name":"ee'+ this.listItem.number +'","check":false}]';

                    return re;
                },

                //创建json对象，供预览用
                createJson:function(){
                    var re = "";
                    var arr = [];

                    for (var i in this.ctlMeta[this.formValue.controlType].showIds){
                        var key = this.ctlMeta[this.formValue.controlType].showIds[i]
                        var val = this.formValue[key];
                        var tmp ='"' + key + '":';

                        var isNum = !isNaN(val); //判断是不是数字

                        if (val === 'true' || val === 'false')
                            isNum = true; // 视为数字

                        if (val === '' || val === null)
                            isNum = false; //要加双引号
                        
                        if (val.length >0){
                            if (val.substring(0,1) === '[')
                                isNum = true;
                            if (val.substring(0,1) === '{')
                                isNum = true;

                        }

                        if (!isNum) tmp +='"';

                        if (key === 'list'){
                            var item =  this.listItem.item;
                            var arrItem = [];
                            for (var i=0;i<item.length;i++){
                                arrItem.push('{"id":' + item[i].id + ',"name":"' + item[i].name+'"}');
                            }
                            tmp += '['+ arrItem.join(',') +']';
                        }else{
                            tmp += this.formValue[key];
                        }
                        
                        if (!isNum) tmp +='"';

                        arr.push(tmp);

                    }

                    re= arr.join(',');
                    re = '{'+ re  + '}';
                    
                    var j = "";

                    try{
                        j=JSON.parse(re);
                    }
                    catch{
                        alert('描述信息格式不正确，不能转换成json');
                        j=formModel
                    }

                    this.json = j;

                    return j;
                },
                //创建json字符串，供代码用
                createJsonCode:function(){
                    var re = "";
                    var arr = [];

                    for (var i in this.ctlMeta[this.formValue.controlType].showIds){
                        var key = this.ctlMeta[this.formValue.controlType].showIds[i]
                        var val = this.formValue[key];
                        var tmp ='\r\n    ' + key + ':';

                        var isNum = !isNaN(val); //判断是不是数字

                        if (val === 'true' || val === 'false')
                            isNum = true; // 视为数字

                        if (val === '' || val === null)
                            isNum = false; //要加双引号
                        
                        if (val.length >0){
                            if (val.substring(0,1) === '[')
                                isNum = true;
                            if (val.substring(0,1) === '{')
                                isNum = true;

                        }

                        if (!isNum) tmp +='"';
                        if (key === 'list'){
                            var item =  this.listItem.item;
                            var arrItem = [];
                            for (var i=0;i<item.length;i++){
                                arrItem.push('{"id":' + item[i].id + ',"name":"' + item[i].name+'"}');
                            }
                            tmp += '['+ arrItem.join(',') +']';
                        }else{
                            tmp += this.formValue[key];
                        }
                       
                        if (!isNum) tmp +='"';

                        arr.push(tmp);

                    }

                    re= arr.join(',');
                    re = 'c:{'+ re  + '\r\n};';
                    
                    return re;
                }
                 
            },
            methods: {
                //菜单触发的选择
                setJosn:function(key){
                    this.formValue.controlType = key;
                },
                
                //设置备选项
                setListItem:function(returnValue,event, meta){
                    var val = returnValue;
                    //alert(returnValue);
                    
                    this.listItem.item = [];

                    for(var i=0;i<parseInt(val);i++){
                        this.listItem.item.push({
                            id:i+1,
                            name:''
                        })
                    }

                }
            }
        });

    </script>

</body>

</html>