<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>文档驱动，前端表单演示</title>
    <script type="text/javascript" src="../../Script/vue.js"></script>
    <script type="text/javascript" src="../../Script/Vue/formHelpConfig.js"></script>
    <script type="text/javascript" src="../../Script/Vue/formCompontent.js"></script>
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="jsonformat.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="../../Style/mangoGlobal.css">
    <link type="text/css" rel="stylesheet" media="screen" href="../../Style/mis-style-p.css">
    <link type="text/css" rel="stylesheet" media="screen" href="../../Style/MisStyle_v2.css">
    <link type="text/css" rel="stylesheet" media="screen" href="../../Style/css2.css">

    <meta charset="utf-8" />

    <script  type="text/javascript">

    </script>
    <style >
        .div1{
            clear: both;
            width: 98%;
            height: 1210px;
            border: 1px solid #333;
        }
        .div2{
            clear: both;
            width:  99%;
            height: 300px;
            border: 1px solid rgb(167, 142, 142);
            margin: 4px;
            
        }
        .div3{
            float: left; 
            width:  35%;
            height: 300px;
            border: 1px solid rgb(167, 142, 142);
             
        }
         .dataJson{
            width: 200px;
        }
    </style>
</head>

<body >
    <div id="doc" class="div1">
        <div class="div2" style="overflow:scroll;">
            <!--数据库文档的Excel表格-->
            <h5>excel格式的数据库文档</h5>
            <table rules="all" class="table_default1">
                <tr>
                    <th>字段名称</th>
                    <th>中文名称</th>
                    <th>字段类型</th>
                    <th>字段大小</th>
                    <th>默认值</th>
                    <th>允许空</th>
                    <th>说明</th>
                    <th>控件类型</th>
                    
                </tr>
                <tr v-for="tr in dataExcel.info">
                    <td v-for="td in dataExcel.orderby">
                        <my-input :meta="dataExcel.ctlExcelMeta[td]" v-model="tr[td]" :value="tr[td]" ></my-input>
                    </td>
                </tr>
            </table>
        </div>
    
        <div class="div2">
            <div class="div3">
                <!--数据库文档的json形式-->
                <h5>json格式数据库文档</h5>
                <textarea readonly v-model="docJsonFormat" rows="14" cols="50"> </textarea>
                
            </div>
            <div class="div3" style="width: 200px;">
                <br><br><br><br><br><br><br>
                <h3>通过引擎转换 -></h3>
            </div>
            <div class="div3">
                <!--表单组件的json形式-->
                <h5>表单组件的json</h5>
                <textarea readonly v-model="ctlJsonFormat" rows="14" cols="50"> </textarea>
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; |<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/
            </div>
        </div>
        <div class="div2">
            <div class="div3">
                <!--提交数据-->
                <h5>提交的数据</h5>
                <textarea readonly v-model="valueJsonFormat" rows="14" cols="60"> </textarea>
                
            </div>
            <div class="div3" style="width: 200px;">
                    <br><br><br><br><br><br><br>
                    <h3> <- 提交绑定数据 </h3>
                </div>
            <div class="div3" style="overflow:scroll;">
                    <!--表单形式-->
                    <h4>通过Vue表单组件生成表单 </h4>
                    <table rules="all" class="tablem tableClass02">
                            <tbody>
                                <tr v-for="item in formControl.ctlMeta">
                                    <td>{{item.colName}}：</td>
                                    <td><my-input v-model="formControl.value[item.name]" :meta="item"></my-input>
                                    <input type="button" value="精装修" class="input_01" @click="modCtl(item)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
       
        <div class="div2">
            <!--后端模拟-->
            <h5>通过引擎，生成参数化sql</h5>
            <textarea readonly v-model="valueJsonToParamSQL" rows="4" cols="80"> </textarea><br>
            <textarea readonly v-model="valueJsonToSQL" rows="4" cols="80"> </textarea>
           
        </div>
            
    </div>

    <div id="help" v-show="helpIsShow" class="layer_div_c" @mousedown="move" style="top: 297px; left: 187px; width:540px; height: 850px; z-index: 10007; display: block;">
        <span id="span_title_1001" class="layer_title" style="cursor: move;">精装修<a @click="helpIsShow=false" style="cursor:pointer">X</a></span>
            <div id="divText"  style="overflow:scroll;width: 470px;height: 460px; padding: 10px; border: 1px solid #333;display: block;margin: 24px;">
                <span id="FrmCommonForm">
                    <table rules="all" class="tablem tableClass02">
                        <tbody>
                            <tr v-for="item in ctlMeta[formValue.controlType].showIds " 
                                :id="'tr'+formControl[item].controlId" 
                                :key="'tr'+formControl[item].controlId" 
                                style="display: table-row;">
                                    <td align="right">{{formControl[item].colName}}：</td>
                                    <td align="left">
                                        <my-input v-if="item != 'list'" v-model="formValue[formControl[item].controlId]" :meta="formControl[item]" ></my-input>
                                        
                                        <span v-else-if="item == 'list'">
                                            <!--设置备选项 listItem.number -->
                                            备选项数量：<my-input @change="setListItem"  v-model="listItem.number" value="1" :meta="formControl.listNumber"> </my-input>
                                                        
                                            <div v-for="item in listItem.item">
                                                <my-input v-model="item.id"  :meta="formControl.listId"></my-input>
                                                <my-input v-model="item.name"  :meta="formControl.listName"> </my-input>
                                            </div>
                                        </span>
                                        {{item}}
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </span>
             
            </div>
            <div>
                <textarea readonly v-model="ctlJsonFormat" rows="8" cols="80"> </textarea>
                <input type="button" class="input_01" value="设置" @click="copyJson()">
            </div>
        
    </div>


    <script type="text/javascript">
        var doc = new Vue({
            el:"#doc",
            data:{
                isSet:false, //避免嵌套循环渲染。 
                dataExcel:{
                    orderby:["enName","cnName","type","size","defaultValue","isNull","command","ctlType"],
                    info:[  //数据库文档的json形式
                        {
                            enName:"name",
                            cnName:"姓名",
                            type:"nvarchar",
                            size:50,
                            defaultValue:"",
                            isNull:false,
                            command:"员工姓名",
                            ctlType:101
                        }
                    ],
                    ctlExcelMeta:{ 
                        enName:{},
                        cnName:{},
                        type:{},
                        size:{},
                        defaultValue:{},
                        isNull:{},
                        command:{},
                        ctlType:{}
                    }
                },
                formControl:{
                    orderby:[],
                    ctlMeta:{//绑定列表的控件
                        //name:{
                            //controlId:101,
                            //controlType:116,
                            //colName:"字段名称",
                            //tabIndex:1,
                            //class:"cssTxt input_t1",
                            //title:"字段的名称",
                            //name:"enName",
                            //value:"",
                            //placeholder:"请输入字段名称",
                            //size:10,
                            //maxlength:10
                        //}
                    },
                    value:{}  //表单的值
                }

            },
            created: function () {
                docExcelControlMeta.ctlType.list = controlMeta // 控件类型的选项
                this.dataExcel.ctlExcelMeta = docExcelControlMeta;  //控件描述
                this.dataExcel.info = dataDocInfo;//数据库文档
                

            },
            computed:{
                docJsonFormat:function(){ //json格式的数据库文档
                    return format(JSON.stringify(this.dataExcel.info));
                },
                valueJsonFormat:function(){ //表单提交的数据
                    return format(JSON.stringify(this.formControl.value));
                },
                valueJsonToParamSQL(){
                    //提交的数据变成参数化sql
                    var re = "";
                    var docJson = this.dataExcel.info;
                    var cols = [];
                    var values = [];
                    for (var key in docJson){
                        var doc = docJson[key];
                        cols.push(doc.enName);
                        values.push("?");
                    }
                    //如果是自增主键，设置为 0 
                    //values[0] = "0";

                    re = "INSERT INTO tableName (" + cols.join(',') + ") VALUES (" + values.join(",") + ")";
                    return re;
                },
                valueJsonToSQL(){
                    //提交的数据变成sql
                    var re = "";
                    var docJson = this.dataExcel.info;
                    var cols = [];
                    var values = [];
                    var valueJson = this.formControl.value;
                    for (var key in docJson){
                        var doc = docJson[key];
                        cols.push(doc.enName);
                        values.push('"' + valueJson[doc.enName] + '"' );
                    }

                    re = "insert into table (" + cols.join(',') + ") values (" + values.join(",") + ")";
                    return re;
                },
                ctlJsonFormat:function(){ //把json格式的文档，变成表单组件的json
                    //表单控件的json
                    var formJson = {};
                    //表单值的json
                    var formValue = {};

                    var docJson = this.dataExcel.info;
                
                    //变量socJson
                    //if (!this.isSet){ //第一次执行，以后不执行了，避免覆盖精装修
                        for(var key in docJson){
                            //文档里一个字段的描述
                            var doc = docJson[key];

                            //获取现有的表单元素的json
                            var ctl = this.formControl.ctlMeta[doc.enName];
                            if (typeof(ctl) === "undefined") {
                                ctl = {};
                                ctl.controlType = doc.ctlType;
                                ctl.class = "cssTxt input_t1";
                                ctl.placeholder ="请输入" + doc.cnName;
                                if (doc.ctlType === "int"){
                                    ctl.size = 10;
                                    ctl.maxlength = 10;
                                }
                                else{
                                    ctl.size = doc.size;
                                    ctl.maxlength = doc.size;
                                }
                                ctl.value = doc.defaultValue;
                            }

                            //修改文档可以影响的表单元素的json
                            ctl.colName = doc.cnName;
                            ctl.title = doc.cnName;
                            ctl.name = doc.enName;
                            
                            formJson[doc.enName] = ctl;  //表单组件
                            formValue[doc.enName] = ctl.value; //表单值

                        }
                        this.formControl.ctlMeta = formJson;
                        this.formControl.value = formValue;
                    //}
                    

                    return format(JSON.stringify(this.formControl.ctlMeta));
                } 
            },
            methods:{
                modCtl:function(meta){
                    //alert(meta.name);
                    //form.formValue = meta;
                    form.helpIsShow = true;
                    //遍历赋值
                    //先改name
                    form.formValue.name = meta.name;
                    for(var key in form.formValue){
                        //var item = form.formValue[key];
                        if (typeof(meta[key]) !=="undefined")
                            form.formValue[key] = meta[key];
                    }
                }
            }

        });

        var form = new Vue({
            el: '#help',
            data: {
                json:'',
                ctlTypeState:{
                    //tab切换
                    textShow:true,
                },
                
                ctlMeta:{}, //控件需要的json
                ctlTypeText:[100, 101, 102, 103, 104, 105, 106, 107,
                    108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118] ,
                ctlTypeList:[150,151,152,153,154,155]  ,
                
                formControl: { },
                viewValue:'',
                //绑定的值
                formValue: { },
                //备选项的值
                listItem:{
                    number:1,
                    item:[{id:1,name:''}]
                },
                helpIsShow:false,
                positionX:0,
                positionY:0,

            },
            created: function () {
                this.formControl = formControl;  //控件描述
                this.formValue = formModel;  //设置取值的实体类
                this.ctlMeta = controlMeta;  //控件字典
            },
            computed:{
                ctlJsonFormat:function(){
                    // doc.formControl[this.formValue.name] = this.formValue;
                    doc.isSet = false;
                    //if (this.formValue.name != "")
                    //    Vue.set(doc.formControl.ctlMeta,this.formValue.name,this.formValue);
                    if (this.formValue.name != ""){
                        for(var key in this.formValue){
                            Vue.set(doc.formControl.ctlMeta[this.formValue.name],key,this.formValue[key]);
                        }
                    }
                    return format(JSON.stringify(this.formValue));
                   
                },
                 //设置备选项
                setListItem:function(returnValue,event, meta){
                    var val = returnValue;
                    //alert(returnValue);
                    
                    this.listItem.item = [];

                    for(var i=0;i<parseInt(val);i++){
                        this.listItem.item.push({
                            id:i+1,
                            name:'33'
                        })
                    }

                    this.formValue.list = this.listItem.item;
 
                },
                //依据控件类型创建备选项的绑定值
                creatList:function(value){
                    var re = "";
                    var arr = [];

                    re = '[{"id":'+value+',"name":"ee'+ this.listItem.number +'","check":false}]';

                    return re;
                } 
                 
            },
            watch: {
                listItem() {
                    this.formValue.list = this.listItem.item;
                }
            },
            methods: {
                //设置备选项
                setListItem:function(returnValue,event, meta){
                    var val = returnValue;
                    //alert(returnValue);
                    
                    this.listItem.item = [];

                    for(var i=0;i<parseInt(val);i++){
                        this.listItem.item.push({
                            id:i+1,
                            name:' '
                        })
                    }
                    this.formValue.list = this.listItem.item;

                },
                copyJson:function(){
                    //alert("aa");
                    if (this.formValue.name != ""){
                        for(var key in this.formValue){
                            Vue.set(doc.formControl.ctlMeta[this.formValue.name],key,this.formValue[key]);
                        }
                    }
                    //Vue.set(doc.formControl.ctlMeta,this.formValue.name,this.formValue);
                   
                },
                move(e){
                    let odiv = e.target.parentElement;        //获取目标元素
                    
                    //算出鼠标相对元素的位置
                    let disX = e.clientX - odiv.offsetLeft;
                    let disY = e.clientY - odiv.offsetTop;
                    document.onmousemove = (e)=>{       //鼠标按下并移动的事件
                        //用鼠标的位置减去鼠标相对元素的位置，得到元素的位置
                        let left = e.clientX - disX;    
                        let top = e.clientY - disY;
                        
                        //绑定元素位置到positionX和positionY上面
                        this.positionX = top;
                        this.positionY = left;
                        
                        //移动当前元素
                        odiv.style.left = left + 'px';
                        odiv.style.top = top + 'px';
                    };
                    document.onmouseup = (e) => {
                        document.onmousemove = null;
                        document.onmouseup = null;
                    };
                }   
            }
        });

    </script>

</body>

</html>